  <!doctype html>
    <html ng-app="todoApp">
      <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="js/todo.js"></script>
        <link rel="stylesheet" href="todo.css">
      </head>
      <body>
        <h2>Todo pour notre PO préféré Benoit</h2>
        <div ng-controller="TodoListController as todoList">
          <span>{{remaining()}} de {{todos.length}} restante(s)</span>

          <ul class="unstyled">
            <li ng-repeat="todo in todos">
              <label class="checkbox">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
              </label>
            </li>
          </ul>
          <form ng-submit="addTodo()">
            <input type="text" ng-model="todoText"  size="30"
                   placeholder="ajouter une tâche">
            <input class="btn-primary" type="submit" value="ajouter">
          </form>
        </div>
      </body>
    </html>
